body{
margin: 0;
background-color:white;
}

.Header{

    background-color:rgb(109, 109, 253);
    padding: 10px;
   
}


/*style the nav*/

.topnav{

    overflow: hidden;
    background-color:rgb(109, 109, 253);
}

.topnav a{
float: left;
display: block;
color: blueviolet;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

.topnav a:hover{
    background-color: cadetblue;
    color: violet;
}

.coloumn.middle{
    padding: 10px;
    height: 90vh;
    width: 70vb;

}

.footer{
    background-color: aqua;
    padding: 10px;
    text-align: center;
}